@import "tailwindcss";

:root {
  /* General Purpose Colors */
  --black: #000000;

  --background: #D5F0E9;
  --surface: #9EB2AD;
  --text-primary: #171717;
  --accent: #81DAC1;
  --strong-accent: #DAC481;

  --action-primary: #3E9D82;
  --action-primary-hover: #2E6B5A;
  --action-primary-active: #204C40;

  --action-secondary: #A9B2B1;
  --action-secondary-hover: #79807F;
  --action-secondary-active: #535B5A;

  --note: #171717;
  --note-hover: #3A3A3A;
  --note-active: #7C7C7C;

  --error-or-danger: #E45A4A;
  --error-or-danger-hover: #A54F46;
  --error-or-danger-active: #7B3A32;

  --disabled: #D6D6CB;

  /* Status Colors */
  --success: #459834;
  --try-again: #B2B2B2;

  --exit: #E45A4A;
  --exit-hover: #A54F46;
  --exit-active: #7B3A32;

  /* Extra Colors */
  --brown: #9B8778;

  --yellow: #DCD661;
  --yellow-hover: #BCB755;
  --yellow-active: #A29D4A;

  /* Fonts */
  --main-font: "Lato", Arial, Helvetica, sans-serif;

  --foreground: #171717;
}


.primary-buttons {
  width: 167px;
  height: 108px;
  gap: 10px;
  padding: 30px, 40px;
  border-radius: 30px;
  background: var(--action-primary);
}

@utility title {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 70px;
}

@utility instructions-body {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 35px;
}

@utility theory-body {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
}

@utility small-body {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 25px;
}

@utility heading {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 50px;
}

@utility mini-heading {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 40px;
}

@utility label {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
}

@utility small-label {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

@utility note-text {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 100px;
}

@utility feedback-text {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 100px;
}

/* Tablet utilities */

@utility tablet-title {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
}

@utility tablet-instructions-body {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
}

@utility tablet-theory-body {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
}

@utility tablet-small-body {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 25px;
}

@utility tablet-heading {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
}

@utility tablet-mini-heading {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 35px;
}

@utility tablet-label {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

@utility tablet-small-label {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

@utility tablet-note-text {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 80px;
}

@utility tablet-feedback-text {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 80px;
}

/* Phone utilities */

@utility phone-title {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
}

@utility phone-instructions-body {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

@utility phone-theory-body {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 25px;
}

@utility phone-small-body {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

@utility phone-heading {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
}

@utility phone-mini-heading {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 25px;
}

@utility phone-label {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

@utility phone-small-label {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, sans-serif;
  font-weight: bold;
  font-size: 20px; /* Forces this size to apply */
}

@utility phone-note-text {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
}

@utility phone-feedback-text {
  line-height: 1;
  color: var(--text-primary);
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
}

